/*
 * This is a funy one.
 *
 * The UI package used, NuxtUI has position relative on ALL
 * inputs and input groups, they hammered that on all the containers
 * and elements they could.
 *
 * This causes the fields to display over the user dropdown menu, so we
 * use this to hammer it back to static
 *
 * Im starting to regret using this library...
*/
.makeit-static * {
    position: static !important;
}

/*
 * Removed up and down buttons from all inputs with type number
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}



/* 
 * When no matching icon is found, UIcon displays the text. This is to hide it 
 * There are two version due to the different structure Nuxt's components adopt
*/
.hide-span span {
  visibility: hidden;
}

.hide-select-span span span {
    visibility: hidden;
}